

// HOME SECTIONS:
//HOME About
.aboutGrid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    background-color: $color3;
}

.about2 h3,
.about3 h3{
    @include h3Font;
}

.about2 p,
.about3 p{
    @include pFont($color4);
}

.about1 {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: -5%;
}
.about2 {
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 5% 15% 10% 0;
}
.about3 {
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: right;
    padding-left: 15%;
}
.about4 {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-bottom: -5%;
}
.about4 img,
.about1 img{
    width: 100%;
}

.about1 img{
    box-shadow: 15px 15px 0 $color2;
}
.about4 img{
    box-shadow: -15px 15px 0 $color2;
}

//HOME: Extra Vacation Days
.eVD1{
    background-color: $color1;
    padding: 5% 5% 8% 5%;
    text-align: center;
}
.eVD1 p {
    padding-bottom: 3%;
}
.eVD1 .button{
    padding: 2%;
}
.eVD2,
.eVD2 img{
    width: 100%;
}

//HOME: Win Trip
.draw{
    margin-top: -1%;
}
.drawFlex {
    display: flex;
    padding: 5%;
    background-color: $color1;
}

.draw1{
    width: 80%;
    padding: 5%;
}
.draw1 img{
    width: 100%;
    box-shadow: -15px 15px 0 $color2;
    margin: 5%;
}
.draw2{
    padding: 2% 5% 5% 5%;
}
.draw2 p {
    padding-bottom: 5%;
}


//HOME Gallery

.galleryFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color3;
    padding: 5%;
}
.galleryFlex img {
    width: 30%;
    margin: 1%;
}


//HOME SECTIONS with MEDIA QUERIES:
//HOME SECTIONS: ipad landscape
@media (max-width: 1100px){
    // HOME About
    .aboutGrid{
        font-size: 70%;
    }
    .about2 {
        padding: 5% 10% 10% 0;
    }
    .about3 {
        padding: 5% 0 10% 10%;
        margin-top: -15%;
    }
    .about4 {
        margin-bottom: -10%;
    }
}

//HOME SECTIONS: with screen size smaller than 900px
@media (max-width: 900px){
    .about2 {
        grid-row: 2/3;
        padding: 10% 5%
    }
    .about3 {
        grid-row: 3/4;
        padding: 10% 5%
    }
    .about4 {
        grid-row: 4/5;
        margin-bottom: -1%;
    }
    .about1,
    .about2,
    .about3,
    .about4 {
        grid-column: 1/-1;
    }

    .about1 img,
    .about4 img{
        box-shadow: none;
    }
    .about1 {
        margin-top: -1%;
    }

    //Win Vacation:
    .drawFlex{
        flex-direction: column;
        align-items: center;
    }

    //Gallery:
    .galleryFlex{
        flex-direction: column;
    }
    .galleryFlex img{
        width: 95%;
        margin: 15%;
    }
}

//HOME SECTIONS: with screen size smaller than 600px
@media (max-width: 600px){
    .eVD1,
    .drawFlex{
        font-size: 65%;
    }
}

//HOME SECTIONS: devices with screen size smaller than 900px in PORTRAIT
@media (orientation: portrait) and (max-width: 900px){
    .eVD2 img,
    .eVD2 {
        height: 40vh;
    }
}
//HOME SECTIONS: devices with screen size smaller than 600px in PORTRAIT
@media (orientation: portrait) and (max-width: 600px){
    .eVD2 img,
    .eVD2 {
        height: 30vh;
    }
}
//HOME SECTIONS: devices with screen size smaller than 900px in LANDSCAPE
@media (orientation: landscape) and (max-width: 900px){
    .eVD2 img,
    .eVD2 {
        height: 105vh;
    }
}


//BLOG SECTIONS
// BLOG Aside
.sidebar1 {
    width: 100%;
    background-color: $color3;
}

.sidebar1 img {
    width: 120%;
    position: relative;
    margin-top: -15%;
    left: calc(30% - 10.25rem);
}

.aside{
    background-color: $color3;
    width: 92%;
    margin-left: 20%;
    padding: 5%;
}

.sidebar2 p,
.sidebar3 li{
    @include pFont($color4, 16px);
}

.aside h4 {
    @include h4Font;
}

//BLOG Comments
